$soft-white: #ebebeb;
$white: #fff;
$black: #000;
$now-orange: #ff8700;
$now-green-primary: #244538;
$now-green-secondary: #c1d2c7;
$placeholder-grey: #cfcfcf;
$hyperlink-blue: #3647dc;
$kendo-theme-red: #f31700;
