$font-size-extra-extra-extra-large: 48px;
$font-size-extra-extra-large: 32px;
$font-size-extra-large: 24px;
$font-size-large: 20px;
$font-size-normal: 16px;
$font-size-small: 13px;
$font-size-extra-small: 9px;
