<div class="find-customer-payor">
    <div class="search-container">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
          <div class="form-group">
            <label for="InvoiceNumber">Invoice Number</label>
            <input
              type="text"
              id="InvoiceNumber"
              formControlName="InvoiceNumber"
              class="form-control"
            />
          </div>
      
          <div class="form-group">
            <label for="ClientName">Client Name</label>
            <input
              type="text"
              id="ClientName"
              formControlName="ClientName"
              class="form-control"
            />
          </div>
      
          <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>

    <div class="find-container">
        <kendo-grid
            *ngIf="!isErrored"
            [data]="gridView"
            [kendoGridBinding]="gridData"
            [sortable]="true"
            [loading]="isLoading"
            [columnMenu]="{ filter: true }"
            [scrollable]="'scrollable'"
            [height]="height"

            [pageSize]="pageSize"
            [skip]="skip"
            [pageable]="{
              buttonCount: buttonCount,
              info: info,
              type: type,
              pageSizes: pageSizes,
              previousNext: previousNext,
              position: position
            }"
            (pageChange)="pageChange($event)"

            [selectable]="{
              checkboxOnly: false,
              mode: 'multiple'
            }"
            kendoGridSelectBy="payorClientId"
            [(selectedKeys)]="selectedIds"
            (selectionChange)="onCheckboxChange($event)"
          >
            <kendo-grid-checkbox-column
              title="Select"
              [showSelectAll]="false"
              [width]="20"
              [columnMenu]="false"
            ></kendo-grid-checkbox-column>

            <kendo-grid-column
              field="payorClientName"
              title="Client"
              [width]="120"
              filter="text"
            ></kendo-grid-column>

            <kendo-grid-messages noRecords=""> </kendo-grid-messages>
            <ng-template kendoGridNoRecordsTemplate>
                <ng-container *ngIf="this.isEmptyRes">
                    <div class="center">
                        <span>
                            <h6>
                            <b>{{ noRecordsMessage }}</b>
                            </h6>
                        </span>
                    </div>
                </ng-container>
            </ng-template>
        </kendo-grid>
    </div>
</div>