<div class="find-customer-payor">
  <div class="widget-dropdown">
    <kendo-dropdownlist
      [data]="dropdownOptions"
      textField="label"
      valueField="value"
      [(ngModel)]="selectedDropdownOption"
    ></kendo-dropdownlist>
  </div>

  <div class="search-widgets">
    <ng-container *ngIf="selectedDropdownOption.value === widgets.ClientName">
      <app-client-search-widget-client-name
        (selectClientEvent)="selectClientEventListener($event)"
      ></app-client-search-widget-client-name>
    </ng-container>
    <ng-container *ngIf="selectedDropdownOption.value === widgets.InvoiceNumber">
      <app-client-search-widget-invoice-number
        (selectClientEvent)="selectClientEventListener($event)"
      ></app-client-search-widget-invoice-number>
    </ng-container>
  </div>
</div>