<div class="find-customer-payor">
  <div class="widget-dropdown">
    <kendo-dropdownlist
      [data]="dropdownOptions"
      textField="label"
      valueField="value"
      [(ngModel)]="selectedDropdownOption"
    ></kendo-dropdownlist>
  </div>

  <div class="search-widgets">
    <ng-container *ngIf="selectedDropdownOption.value === widgets.CustomerName">
      <app-customer-search-widget-customer-name
        (selectClientCustomerEvent)="selectClientCustomerEventListener($event)"
      ></app-customer-search-widget-customer-name>
    </ng-container>
    <ng-container *ngIf="selectedDropdownOption.value === widgets.InvoiceNumber">
      <app-customer-search-widget-invoice-number
        (selectClientCustomerEvent)="selectClientCustomerEventListener($event)"
      ></app-customer-search-widget-invoice-number>
    </ng-container>
  </div>
</div>