<div class="app">
  <div class="header">
    <div class="nav">
      <a class="nav-link" href="/"><strong>Create Payment</strong></a>
      <a class="nav-link" href="/payment-document-upload"><strong>Upload Payment Document</strong></a>
      <a class="nav-link" href="/unreleased-payments"><strong>Apply Payments</strong></a>
      <a class="nav-link" href="/released-payments"><strong>View Released Payments</strong></a>
    </div>
  </div>

  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
</div>