.header {
    height: 10%;
    width: 100%;
    padding: 20px 10px;
    background-color: lightblue;

    .nav {
        display: flex;

        .nav-link {
            cursor: pointer;
            margin-left: 20px;
        }
    }
}

.main-container {
    margin: 12px 0;
}