<div class="payment-creation">
    <kendo-stepper
        [steps]="steps"
        stepType="full"
        [(currentStep)]="currentStep"
        [linear]="isLinear"
        [style.width.px]="570"
        (currentStepChange)="currentStepChange($event)"
    >
    </kendo-stepper>

    <app-wizard-container 
        [showBack]="currentStep !== stepIndexes.Documents"
        (backEvent)="stepBack()" 
        [showNext]="currentStep !== stepIndexes.Details"
        (nextEvent)="stepForward()"
    >
        <ng-container *ngIf="currentStep === stepIndexes.Documents">
            <app-payment-documents 
                [selectedDocuments]="paymentDocumentBatch.paymentDocuments"
                (selectEvent)="applyPaymentDocuments($event)"
            ></app-payment-documents>

            <div class="notes-container">
                <kendo-label text="Document Batch Notes">
                    <kendo-textarea
                      placeholder="Assign batch notes here... (Optional)"
                      [rows]="3"
                      resizable="vertical"
                      [(ngModel)]="batchNotes"
                    ></kendo-textarea>
                </kendo-label>
            </div>
        </ng-container>

        <ng-container *ngIf="currentStep === stepIndexes.Sources">
            <app-payment-sources 
            [selectedSource]="paymentSource"
            (selectEvent)="applyPaymentSource($event)"
            ></app-payment-sources>
        </ng-container>

        <ng-container *ngIf="currentStep === stepIndexes.FindPayor">
            <ng-container *ngIf="paymentSource.value === paymentSources.Customer">
            <app-find-customer-payor
                [searchTerms]="paymentPayorCustomerSearchTerms"
                (searchEvent)="paymentPayorCustomerSearch($event)"
                [selectedPayor]="paymentPayorCustomer"
                (selectPayorEvent)="applyPaymentPayor($event)"
            ></app-find-customer-payor>
            </ng-container>

            <ng-container *ngIf="paymentSource.value === paymentSources.Client">
            <app-find-client-payor
                [searchTerms]="paymentPayorClientSearchTerms"
                (searchEvent)="paymentPayorClientSearch($event)"
                [selectedPayor]="paymentPayorClient"
                (selectPayorEvent)="applyPaymentPayor($event)"
            ></app-find-client-payor>
            </ng-container>

            <ng-container *ngIf="paymentSource.value === paymentSources.Atradius">
            <app-find-atradius-payor
                [selectedPayor]="paymentPayorAtradius"
                [originNavEvent]="lastNavEvent"
                (selectPayorEvent)="applyPaymentPayor($event)"
                (stepBackEvent)="stepBack()"
            ></app-find-atradius-payor>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="currentStep === stepIndexes.Details">
            <app-payment-details
                [model]="paymentDetails"
                [canCreate]="true"
                (applyPaymentDetailsEvent)="applyPaymentDetails($event)"
                (createPaymentEvent)="createPayment()"
            ></app-payment-details>
        </ng-container>

        <ng-container *ngIf="currentStep === stepIndexes.Application">
        </ng-container>
    </app-wizard-container>
</div>