<div class="customer-name search-widget">
    <form
        class="search-form" 
        [formGroup]="searchForm" 
        (ngSubmit)="onSearch()"
    >
        <div class="form-group">
            <label for="CustomerName">Customer Name</label>
            <input
              type="text"
              id="CustomerName"
              formControlName="CustomerName"
              class="form-control"
            />
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <div
        *ngIf="
            this.searchForm.get('CustomerName')?.invalid &&
            (this.searchForm.get('CustomerName')?.dirty ||
            this.searchForm.get('CustomerName')?.touched)
        "
    >
        <kendo-formerror
            *ngIf="this.searchForm.get('CustomerName')?.errors?.['required']"
        >
            Partial customer name search is required.
        </kendo-formerror>
        <kendo-formerror
            *ngIf="this.searchForm.get('CustomerName')?.errors?.['minlength']"
        >
            Customer name search must be at least 3 characters in length.
        </kendo-formerror>
    </div>

    <kendo-splitter>
        <kendo-splitter-pane>
            <kendo-grid
              *ngIf="!isErrored"
              [data]="customerGridView"
              [kendoGridBinding]="customerGridData"
              [sortable]="true"
              [loading]="isLoading"
              [columnMenu]="{ filter: true }"
              [scrollable]="'scrollable'"
              [height]="height"
  
              [pageSize]="pageSize"
              [skip]="customerSkip"
              [pageable]="{
                buttonCount: buttonCount,
                info: info,
                type: type,
                pageSizes: pageSizes,
                previousNext: previousNext,
                position: position
              }"
              (pageChange)="customerPageChange($event)"
  
              [selectable]="{
                checkboxOnly: false,
                mode: 'single'
              }"
              kendoGridSelectBy="payorClientCustomerId"
              [(selectedKeys)]="customerSelectedIds"
              (selectionChange)="onCustomerCheckboxChange($event)"
            >
              <kendo-grid-checkbox-column
                title="Select"
                [showSelectAll]="false"
                [width]="20"
                [columnMenu]="false"
              ></kendo-grid-checkbox-column>
  
              <kendo-grid-column
                field="payorClientCustomerName"
                title="Customer"
                [width]="120"
                filter="text"
              ></kendo-grid-column>
  
              <kendo-grid-messages noRecords=""> </kendo-grid-messages>
              <ng-template kendoGridNoRecordsTemplate>
                  <ng-container *ngIf="this.isEmptyRes || this.customerGridData.length === 0">
                      <div class="center">
                          <span>
                              <h6>
                              <b>{{ noRecordsMessage }}</b>
                              </h6>
                          </span>
                      </div>
                  </ng-container>
              </ng-template>
            </kendo-grid>
          </kendo-splitter-pane>

        <kendo-splitter-pane>
          <kendo-grid
            *ngIf="!isErrored"
            [data]="clientGridView"
            [kendoGridBinding]="clientGridData"
            [sortable]="true"
            [loading]="isLoading"
            [columnMenu]="{ filter: true }"
            [scrollable]="'scrollable'"
            [height]="height"
  
            [pageSize]="pageSize"
            [skip]="clientSkip"
            [pageable]="{
              buttonCount: buttonCount,
              info: info,
              type: type,
              pageSizes: pageSizes,
              previousNext: previousNext,
              position: position
            }"
            (pageChange)="clientPageChange($event)"
  
            [selectable]="{
              checkboxOnly: false,
              mode: 'multiple'
            }"
            kendoGridSelectBy="payorClientId"
            [(selectedKeys)]="clientSelectedIds"
            (selectionChange)="onClientCheckboxChange($event)"
          >
            <kendo-grid-checkbox-column
              title="Select"
              [showSelectAll]="false"
              [width]="20"
              [columnMenu]="false"
            ></kendo-grid-checkbox-column>
  
            <kendo-grid-column
              field="payorClientName"
              title="Client"
              [width]="120"
              filter="text"
            ></kendo-grid-column>
  
            <kendo-grid-messages noRecords=""> </kendo-grid-messages>
            <ng-template kendoGridNoRecordsTemplate>
                <ng-container *ngIf="this.isEmptyRes">
                    <div class="center">
                        <span>
                            <h6>
                            <b>{{ noRecordsMessage }}</b>
                            </h6>
                        </span>
                    </div>
                </ng-container>
            </ng-template>
          </kendo-grid>
        </kendo-splitter-pane>
      </kendo-splitter>
</div>
