<div class="payments-grid">
    <kendo-grid
        *ngIf="!isErrored"
        [data]="gridView"
        [kendoGridBinding]="gridData"
        [sortable]="true"
        [loading]="isLoading"
        [columnMenu]="{ filter: true }"
        [scrollable]="'scrollable'"
        [height]="500"

        [pageSize]="pageSize"
        [skip]="skip"
        [pageable]="{
            buttonCount: buttonCount,
            info: info,
            type: type,
            pageSizes: pageSizes,
            previousNext: previousNext,
            position: position
        }"
        (pageChange)="pageChange($event)"
    >
        <ng-template kendoGridToolbarTemplate>
        </ng-template>

        <kendo-grid-column
            field="payment.paymentDate"
            title="Created Date"
            [width]="70"
            filter="date"
            format="MM/dd/yyyy"
        ></kendo-grid-column>

        <kendo-grid-column
            field="payor"
            title="Payor"
            [width]="100"
            filter="text"
        ></kendo-grid-column>

        <kendo-grid-column
            field="balance"
            title="Balance"
            [width]="70"
            filter="numeric"
            format="c2"
        ></kendo-grid-column>

        <ng-container *ngIf="canEdit">
            <kendo-grid-column
                field="payment"
                title="Apply a Payment"
                [width]="80"
            >
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <button
                        id="apply-payment-{{rowIndex}}"
                        title="Apply Payment"
                        class="apply-payment btn-view-set btn-brand-primary btn-view-grid-margin-right"
                        (click)="navigateToPaymentApplication(dataItem.payment.iD)"
                        (keyup.enter)="navigateToPaymentApplication(dataItem.payment.iD)"
                    >
                        <span>Apply Payment</span>
                    </button>
                </ng-template>
            </kendo-grid-column>
        </ng-container>

        <kendo-grid-messages noRecords=""> </kendo-grid-messages>
        <ng-template kendoGridNoRecordsTemplate>
            <ng-container *ngIf="this.isEmptyRes">
                <div class="center">
                    <span>
                        <h6>
                        <b>{{ noRecordsMessage }}</b>
                        </h6>
                    </span>
                </div>
            </ng-container>
        </ng-template>
    </kendo-grid>
</div>
